body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 20px;  
}

h1.title {

}

ul.listing {
  display: table;
  text-align: left;
  float: left;
}

ul.listing li {
  vertical-align: top;
  display: table-cell;
  float: left;
  width: 100%;
  margin-bottom: 20px;
  min-height: 100px;
}